$primary-color: #f1f2f6;
$dark-color: #353b48;
$light-color: #c8d6e5;
$danger-color: #f6e58d;
$success-color: #b8e994;
$max-width: 1100px;

// Set  text color based on background
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// Set background & text color
@mixin set-background($color) {
  //$color: whatever color it's passed in
  background-color: $color;
  color: set-text-color($color);
}
