$primary-color: #6c97c9;
$dark-color: #929497;
$light-color: #dfe7ec;
$danger-color: #f6e58d;
$success-color: #b8e994;
$max-width: 1100px;

// Set  text color based on background
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #333;
  } @else {
    @return rgb(173, 175, 197);
  }
}

// Set background & text color
@mixin set-background($color) {
  //$color: whatever color it's passed in
  background-color: $color;
  color: set-text-color($color);
}
// Margin & Padding

$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  //All around margin
  .m-#{$space} {
    margin: #{$space}rem;
  }

  //Vertical Margin
  .my-#{$space} {
    margin: #{$space}rem 0;
  }
  @each $space in $spaceamounts {
    //All around margin
    .p-#{$space} {
      padding: #{$space}rem;
    }

    //Vertical Margin
    .py-#{$space} {
      padding: #{$space}rem 0;
    }
  }
}
