.form {
  &-group {
    margin: 1.2rem 0;
  }
  &-text {
    display: block;
    margin-top: 0.3rem;
    color: rgb(121, 119, 119);
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  select,
  textarea {
    display: block;
    width: 40%;
    padding: 0.4trm;
    font-size: 1.2rem;
    border: 1px solid #ccc;
  }
}
